# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\true_perfomance\screen_wizard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
